@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  background-color: #c9ced3;
}
.container {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 630px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
  background-color: whitesmoke;
}
/* Form  */
.form-group {
  height: 65px;
  display: flex;
  flex-direction: column;
}
label {
  position: relative; 
  bottom: 3px;
}
form {
  width: 80%;
  outline: none;
  font-weight: bold;
  /* background-color: red; */
  padding: 10px;
}
input {
  font-weight: bold;
  padding: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}
input:valid{
    border: 1px solid green;
}
input:invalid{
    border:1px solid  red;
}
button{
    width: 100%;
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    border-radius: 5px;
}
button:hover{
    filter: brightness(200%);
    background-color: rgb(28, 27, 27);
}
button:focus{
    outline: none;
}
.message-conatiner{
    border: 1px solid black;
    width: 90%;
    display:flex;
    margin-top: 10px;
    justify-content: center;
    border-radius: 5px;
}


/* 



        <!-- Phone Number  -->
        <div class="form-group">
          <label for="phone"> Phone Number</label>
          <input type="tel" id="phone" minlength="10" placeholder="555-555-555" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
        </div>
        <!-- Email Address  -->
        <div class="form-group">
          <label for="email"> Email Address</label>
          <input type="email" id="email" placeholder="email@address.com" required  />
        </div>
        <!-- website Url  -->
        <div class="form-group">
          <label for="website"> Full Website</label>
          <input type="url" id="website" placeholder="Full Website" required />
        </div>
        <!-- password  -->

        <div class="form-group">
          <label for="password1"> Password</label>
          <input type="password" id="password1" 
          placeholder="Create Password" required 
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
          title="please include at least 1 uppercase character" />
        </div>
        <!--confrirm  password  -->

        <div class="form-group">
          <label for="password2"> Confrim Password</label>
          <input
            type="password"
            id="password2"
            placeholder="Confrirm Password"
            required
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
            title="please include at least 1 uppercase character"
          />
        </div>


*/