@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  background-color: #c9ced3;
}
.container {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 630px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
  background-color: whitesmoke;
}
/* Form  */
.form-group {
  height: 65px;
  display: flex;
  flex-direction: column;
}
label {
  position: relative; 
  bottom: 3px;
}
form {
  width: 80%;
  outline: none;
  font-weight: bold;
  /* background-color: red; */
  padding: 10px;
}
input {
  font-weight: bold;
  padding: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}
input:valid{
    border: 1px solid green;
}
input:invalid{
    border:1px solid  red;
}
button{
    width: 100%;
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    border-radius: 5px;
}
button:hover{
    filter: brightness(200%);
    background-color: rgb(28, 27, 27);
}
button:focus{
    outline: none;
}
.message-conatiner{
    border: 1px solid black;
    width: 90%;
    display:flex;
    margin-top: 10px;
    justify-content: center;
    border-radius: 5px;
}